.alumno{
	text-align: center;
	left: 40%;
	top: 20%;
	position: absolute;
	font-size: 30px;
}
.Matricula{
	text-align: center;
	left: 40%;
	top: 30%;
	position: absolute;
	font-size: 30px;
}
.Materia{
	text-align: center;
	left: 40%;
	top: 40%;
	position: absolute;
	font-size: 30px;
}
.Fecha{
	text-align: center;
	left: 40%;
	top: 50%;
	position: absolute;
	font-size: 30px;
}
.Maestro{
	text-align: center;
	left: 40%;
	top: 60%;
	position: absolute;
	font-size: 30px;
}
.Menu{
	text-align: center;
	left: 40%;
	top: 70%;
	position: absolute;
	font-size: 30px;
}
body{
	background-color: #FFC300;
}
img{
	float: left;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 30px;	
	width:400px;
	height:600px;
}
.pagina1{
	text-align: center;
	font-size: 24px;
	left: 50%;
	top: 90%;
	position: absolute;
}
.pagina2{
	text-align: center;
	font-size: 24px;
	left: 50%;
	top: 190%;
	position: absolute;
}
.pagina3{
	text-align: center;
	font-size: 24px;
	left: 50%;
	top: 280%;
	position: absolute;
}
.sobremi{
	text-align: center;
	left: 40%;
	top: 5%;
	position: absolute;
	font-size: 60px;
}